@(productForm : Form[Product])

@import helper._
@import helpers.BootstrapHelper._
@import play.i18n._

@if(productForm.hasErrors) {
    <div class="alert alert-error">
        @if(productForm.errors.size() > 0) {
            @for((key, value) <- productForm.errors) {
                    @for(err <- value) {
                        @err.message().toString() <br/>
                    }
            }
        } 
    </div>
}

<h2>Add new product</h2>
<table class="table table-condensed">
@main("Add"){
	@form(action = routes.Application.newProduct()){
		@inputText(productForm("title"),'_label -> "Title")
		@inputText(productForm("pricing.cost"),'_label -> "Cost")
		@inputText(productForm("pricing.price"),'_label -> "Price")
		@inputText(productForm("pricing.promoPrice"),'_label -> "Promo Price")
		@inputText(productForm("pricing.savings"),'_label -> "Savings")
		@checkbox(productForm("pricing.onSale"),'_label -> "On Sale")
		<input type="submit" class="btn btn-default" value="Add"/>
	}
}
</table>